@media (prefers-color-scheme: dark) {
	:root {
		--blue: #1e90ff;
		--white: #fff;
		--black: #000;

		--gold: gold;

		--primary: #cd7b41;
		--secondary: #7fb785;
		--optDark: #c63734;
		--optLight: #ffeead;
		--secOptDark: #b08daf;
		--secOptLight: #c38387;
		--disabled: #414141;

		--primaryTheme: #1f1f1f;
		--secondaryTheme: #2a2a2a;
		--tertiaryTheme: #3a3a3a55;

		--primaryThemeInverted: #fff;
		--secondaryThemeInverted: #bbb;
		--tertiaryThemeInverted: #eee5;

		--orange: #cd7b41;
		--green: #7fb785;
		--red: #c63734;
		--yellow: #ffeead;
		--purple: #b08daf;
		--pink: #c38387;
		--grey: #414141;
		--greyLight: #41414184;

		--dull: 70%;
		--extraDull: 20%;

		--averageMargin: 10px;

		--buttonHW: 30px;
		--borderRadius: calc(var(--buttonHW) / 2);
		--smallerBorderRadius: calc(var(--buttonHW) / 3);

		--boxShadows: 0px 0px 8px #1119, 0px 0px 1px #111;
		--boxShadowsBlur: 0px 0px 10px #1111, 0px 0px 8px #1118;
		--boxInsetShadows: inset 0px 0px 6px #0004, inset 0px 0px 1px #111;

		--boxShadowsInverted: 0px 0px 8px #1119, 0px 0px 1px #111;
		--boxShadowsBlurInverted: 0px 0px 20px #1119, 0px 0px 8px #1118;
		--boxInsetShadowsInverted: inset 0px 0px 10px #fff1, inset 0px 0px 3px #ccc3;

		--boxNeoShadows: 1px 1px 2px #111111, -1px -1px 2px #414141;
		--boxNeoShadowsInverted: 1px 1px 2px #adadad, -1px -1px 2px #e0e0e0;

		--fontSize: 16px;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--blue: #1e90ff;
		--white: #fff;
		--black: #000;

		--gold: gold;

		--primary: #cd7b41;
		--secondary: #7fb785;
		--optDark: #c63734;
		--optLight: #ffeead;
		--secOptDark: #b08daf;
		--secOptLight: #c38387;
		--disabled: #414141;

		--primaryThemeInverted: #1f1f1f;
		--secondaryThemeInverted: #333;
		--tertiaryThemeInverted: #3a3a3a55;

		--primaryTheme: #bbb;
		--secondaryTheme: #ddd;
		--tertiaryTheme: #3a3a3a55;

		--orange: #cd7b41;
		--green: #7fb785;
		--red: #c63734;
		--yellow: #ffeead;
		--purple: #b08daf;
		--pink: #c38387;
		--grey: #414141;
		--greyLight: #41414184;

		--dull: 70%;
		--extraDull: 20%;

		--averageMargin: 10px;

		--buttonHW: 30px;
		--borderRadius: calc(var(--buttonHW) / 2);
		--smallerBorderRadius: calc(var(--buttonHW) / 3);

		--boxShadows: 0px 0px 8px 0.1px #1113, 0px 0px 1px #111;
		--boxShadowsBlur: 0px 0px 10px #1111, 0px 0px 8px #1118;
		--boxInsetShadows: inset 0px 0px 6px #0004, inset 0px 0px 1px #111;

		--boxShadowsInverted: 0px 0px 8px #eee1, 0px 0px 1px #eee;
		--boxShadowsBlurInverted: 0px 0px 25px #eee1, 0px 0px 8px #eee4;
		--boxInsetShadowsInverted: inset 0px 0px 6px #fff1, inset 0px 0px 1px #eee;

		--boxNeoShadowsInverted: 1px 1px 1px #111111, -1px -1px 1px #414141;
		--boxNeoShadows: 1px 1px 1px #adadad, -1px -1px 1px #e0e0e0;

		--fontSize: 16px;
	}
}

@font-face {
	font-family: Imprima;
	src: url(../css/Imprima-Regular.ttf);
}

@font-face {
	font-family: UBold;
	src: url(../css/Ubuntu-B.ttf);
}

@font-face {
	font-family: ULight;
	src: url(../css/Ubuntu-L.ttf);
}

button {
	cursor: pointer;
	color: var(--primaryTheme);
}

input,
button,
input:focus,
input:active,
input:visited {
	width: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	white-space: nowrap;

	border: none;
	outline: none;
	box-shadow: none;
	resize: none;
}

h1,
p {
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-shadow: var(--boxShadows);
}
a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

main,
body {
	/* background: var(--secondaryTheme); */
	/* background-color: var(--primaryTheme); */
	margin: 0;
	padding: 0;

	width: 100vw;

	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: flex-start;
}
main {
	position: relative;
	height: 100vh;

	/* background-color: red; */
}
body {
	height: 100%;
	position: fixed;

	background-color: var(--secondaryTheme);
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--tertiaryTheme);
	/* background-color: transparent; */
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--tertiaryThemeInverted);
}

.absoluteBox {
	position: absolute;
	height: var(--buttonHW);
	width: var(--buttonHW);
	border-radius: calc(var(--borderRadius) / 1.5);

	cursor: pointer;

	top: calc(var(--averageMargin) + 2px);
	right: calc(var(--averageMargin) * 2);

	border: 0.25px solid var(--tertiaryTheme);

	/* transition: box-shadow 1000ms ease-in-out; */
	transition: all 100ms ease-in-out;
	box-shadow: var(--boxNeoShadows);
	background-color: var(--secondaryTheme);
}
.absoluteBox:hover {
	box-shadow: var(--boxInsetShadows);
	background-color: var(--primaryTheme);
	/* box-shadow: var(--boxShadows); */
}

.absoluteBox:active {
	box-shadow: var(--boxInsetShadows);
	background-color: var(--secondaryTheme);
	/* transition: all 1000ms ease-in-out; */
}

.text {
	height: auto;
	border-radius: calc(var(--borderRadius) * 0.75);
	/* width: clamp(640px, 80%, 800px); */
	width: clamp(520px, 80%, 800px);
	margin: 2px var(--averageMargin);
	/* background-color: var(--primaryTheme); */

	padding: 1rem 1rem;
	padding-bottom: 2.6rem;

	font-size: calc(var(--fontSize) * 1.2);
	font-family: Imprima;

	transition: box-shadow 300ms ease-in-out;

	position: relative;
	overflow: hidden;
}
.text:hover {
	box-shadow: var(--boxInsetShadows);
}
.timeSpan {
	background-color: var(--primaryTheme);
	color: var(--tertiaryThemeInverted);
	box-shadow: var(--boxInsetShadows);
	font-size: calc(var(--fontSize) * 0.7);
	padding: 0.2rem 0.6rem;
	border-radius: calc(var(--borderRadius) / 3);
}
.timeSpanRight {
	left: 0;
	right: unset;
}
.timeSpanLeft {
	right: 0;
	left: unset;
}
.LikeSpan,
.LikeSpan:active {
	background-color: var(--secondaryTheme);
	cursor: pointer;
	width: 30px;
	text-align: center;
	box-shadow: var(--boxShadowsBlur);
	transition: box-shadow 300ms ease-in-out, background-color 300ms ease-in-out;
	/* margin-left: 10px; */
}
.LikeSpan:hover,
.LikeSpan::selection {
	background-color: var(--primaryTheme);
	box-shadow: var(--boxInsetShadows);
}
.sender {
	place-self: start;
	border-top-left-radius: calc(var(--borderRadius) / 4);
	text-align: left;
}
.yoMe {
	text-align: right;
	place-self: end;
	border-bottom-right-radius: calc(var(--borderRadius) / 4);
}

.spanFlexLeft {
	display: flex;
	position: absolute;
	left: 0;
	bottom: var(--averageMargin);
	margin: 0.1rem 1rem;
}
.spanFlexRight {
	display: flex;
	position: absolute;
	right: 0;
	bottom: var(--averageMargin);
	margin: 0.1rem 1rem;
}

@media screen and (max-width: 768px) {
	.text {
		width: 75%;
	}

	.icon {
		padding: 10px;
		margin-right: 4px;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}

textarea:focus {
	position: static;
}

#theme-toggle {
	background-color: transparent;
	border: none;
	color: var(--secondary);
	width: max-content;
	font-size: 1.5rem;
	padding: 1rem;

	border-radius: var(--borderRadius);
	transition: box-shadow 200ms ease-in-out;
}
#theme-toggle:hover {
	cursor: pointer;
	box-shadow: var(--boxNeoShadows);
}

.gradient {
	width: 100%;
	height: 200%;
	background: linear-gradient(0deg, #2a2a2a00 98%, var(--primaryTheme) 100%);
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;

	pointer-events: none;
}

@keyframes zoomIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
